################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mit portefølje/FileContentIndex/3737e03e-f705-4def-8998-c3e9509409f1.vsidx
/.vs/Mit portefølje/FileContentIndex
/.vs/Mit portefølje/FileContentIndex/6a51babf-078d-450c-9ba1-8b8e7a12994a.vsidx
/.vs/Mit portefølje/FileContentIndex/80fdde60-4ac8-4d1d-a962-7bfd4f302819.vsidx
/.vs/Mit portefølje/FileContentIndex/96a2a78d-6a4c-4147-a5bb-e983cd5181bb.vsidx
/.vs/Mit portefølje/FileContentIndex/d23ee5c8-8c11-4462-8c3a-e15af6e1447d.vsidx
